* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1, h2, h3 {
    font-size: 1.375em; 
    line-height: 1.375em;  
    padding: 7px; 
}

.card {
  display: flex;
  flex-direction: column; 

  background: #fff;
  border: 2px;
  border: solid; 
  border-radius: 5px;
  border-color:#aaa;  
  max-width: 470px; 
  max-height: 300px; 
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 10px; 
  overflow-wrap: break-word; 
}


.card-contain {
  display: flex;
  flex: 2; 
  padding: 7px; /* Ákveðið var að nota 7px padding svo síðan líkist forskript */
}

.card-text {
  line-height: 1.375em;
  font-size: 1em;
  overflow: auto; 
  word-break: break-word; 
}

.card-picture {
  padding-left: 20px;
  flex: 0 0 150px; 
}

.card-img {
  max-width: 100%;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding-bottom: 8px; /* Svo síða líkist forskript */
}

.card-list-item{
  font-size: 1em; 
  line-height: 1.375em;
  margin-left: 10px; 
  font-weight: bold; 
}


